@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
.body-color{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: floralwhite;
  transition: all .1s ease;
}
.border {
  width: 90%;
  border: 20px solid #bdc3c7;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  margin-top: 80px;  
  margin-bottom: 20px;    
  max-width: 1000px;
}

.post {    
  margin-bottom: 20px;
  background-color: floralwhite;
}


.quote{
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

h2 {
  font-size: 2.0rem;
  font-weight: bold;
  color: #3498db;
  letter-spacing: 0.2rem;
  text-transform: uppercase;    
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

